/* Styles specific to the documentation page */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Judson:ital,wght@0,400;0,700;1,400&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(151, 112, 96, 0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(151, 112, 96, 0.7);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(151, 112, 96, 0.5) transparent;
}

.doc-container {
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    margin-top: 4em;
    padding-top: 0;
    flex: 1;
    margin-left: 15%;
    margin-right: 25%;
    position: relative;
    z-index: 1;
    width: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

h2{
    font-family: 'Judson';
}

h3{
    font-family: 'Judson';
}

.doc-title {
    font-family: 'Judson';
    font-weight: 900;
    text-align: center;
    background-color: rgb(227, 218, 208);
    color: black;
    font-size: 3.5em;
    max-width: 100%;
}

.doc-line {
    width: var(--container-width);
    height: var(--container-height);
}

.doc-container a {
    color: #977060;
}

.doc-container a:hover {
    color: black;
    font-weight: bold;
}

.doc-content {
    padding-top: 1.5em;
    font-family: 'Judson';
}

.palette-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 180px auto auto auto;
    grid-gap: 10px;
    justify-content: center;
    padding: 0px;
}

.palette {
    background: #fff;
    overflow: hidden;
    position: relative;
    top: 0;
    padding: 0;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-flow: column;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.palette:hover {
    top: -5px;
    box-shadow: 0 8px 20px rgba(128, 128, 128, 0.12);
}
.palette--main-color {
    grid-column: span 6;
}
.palette--secondary-color {
    grid-column: span 4;
}
.palette--grays {
    grid-column: span 2;
}
.palette-headers {
    grid-column: span 12;
}
.palette__info {
    color: #333;
    position: relative;
    flex: 0 0 auto;
    font-size: 14px;
    padding: 12px;
    font-family: 'hardingreg';
    font-weight: bold;
}
.palette__info__hexcode {
    margin-top: 3px;
    font-size: 12px;
    color: gray;
}
.palette__colors {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
}
.palette__color {
    background: var(--bg-color);
    height: 100%;
    flex: 1;
}

.font-white {
    color: #fff;
}

#narratives_content figcaption {
    font-style: italic;
    font-size: small;
    padding: 0 0.5rem;
}

.caption-sm-screen {
    text-align: center;
    font-style: italic;
    font-size: small;
    padding: 0 0.5rem;
}

.figure-caption-text-center {
    text-align: center;
    font-style: italic;
    font-size: small;
    padding: 0 0.5rem;
}

.doc-figure {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
    margin: 1.5rem 1.5rem;
}

#offcanvas-modal-screenshot {
    display: flex;
}

#offcanvas-modal-screenshot figure {
    margin: 0.3rem;
}

#small-layout-screenshot {
    display: flex;
}
.mapped-property {
    color: #736f4c !important;
    font-weight: 400 !important;
}
/* Responsive text styling for smaller screens */
@media (max-width: 768px) {
    .doc-container {
        margin-left: 5px; 
        margin-right: 5px; 
        padding: 20px; 
    }

    .table td, .table th {
        font-size: 0.85em;
        padding: 0.5em;
    }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .doc-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
    }

    .doc-title {
        font-size: 1.3em; 
        width: 100%;
    }
}
@media (max-width: 390px) {
    .doc-figure {
        margin: 1.5rem 1rem;
    }
}
