main {
    margin-left: 280px; /* Adjust based on the sidebar width */
    padding-top: 5em; /* Adjust for the navbar height */
    position: relative; 
    z-index: 1; 
}

.content-section a {
    color: rgb(0, 0, 0); /* Normal link color */
    text-decoration: underline; /* Optional: underline for links */
}

.content-section:hover,
.content-section:active {
    color: rgb(46, 14, 1); /* Color for hover and active states */
}

.content-section {
    padding: 10px;
    background-color: rgb(227, 218, 208); /* #E3DAD0 */
    margin: 20px 15px; /* Adjust margins for better spacing */
    border-radius: 5px;
    line-height: 1.4; /* Adjusted line-height for content sections */
    text-align: justify;
    z-index: 1; /* Ensure content stays on top of the parallax image */
    position: relative; /* Ensure content stays on top of the parallax image */
}

 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
} 