/* Styles specific to the documentation page */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Prata&display=swap');

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(151, 112, 96, 0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(151, 112, 96, 0.7);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(151, 112, 96, 0.5) transparent;
}

.doc-container {
    flex: 1;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 0;
    padding-top: 5em;
    padding-bottom:7em;
    position: relative; 
    z-index: 1; 
    width: auto;
    overflow-y: auto;
}

h2{
    font-family: 'Noticia+Text';
}

h3{
    font-family: 'Noticia+Text';
}

.doc-title {
    font-family: 'Noticia+Text';
    font-weight: 800;
    text-align: center;
    background-color: rgb(227, 218, 208);
    color: black;
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-top: 2em;
    margin-bottom: 0;
    max-width: 100%;
}

.doc-line {
    width: var(--container-width);
    height: var(--container-height);
}

.doc-container a {
    color: #977060;
}

.doc-container a:hover {
    color: black;
    font-weight: bold;
}

.doc-content {
    padding-top: 1.5em;
    font-family: 'Noticia+Text';
}

.palette-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 180px auto auto auto;
    grid-gap: 10px;
    justify-content: center;
    padding: 0px;
}

.palette {
    background: #fff;
    overflow: hidden;
    position: relative;
    top: 0;
    padding: 0;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-flow: column;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.palette:hover {
    top: -5px;
    box-shadow: 0 8px 20px rgba(128, 128, 128, 0.12);
}
.palette--main-color {
    grid-column: span 6;
}
.palette--secondary-color {
    grid-column: span 4;
}
.palette--grays {
    grid-column: span 2;
}
.palette-headers {
    grid-column: span 12;
}
.palette__info {
    color: #333;
    position: relative;
    flex: 0 0 auto;
    font-size: 14px;
    padding: 12px;
    font-family: 'hardingreg';
    font-weight: bold;
}
.palette__info__hexcode {
    margin-top: 3px;
    font-size: 12px;
    color: gray;
}
.palette__colors {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
}
.palette__color {
    background: var(--bg-color);
    height: 100%;
    flex: 1;
}

.font-white {
    color: #fff;
}

.sidebar-doc {
    position: fixed;
    padding: 6em 1em 1em 1em;
    overflow-y: auto;
    top: 0;
    align-self: flex-start;
    background-color: white; 
    opacity: 95%;
    font-family: 'Noticia+Text';
    font-weight: 800;
    line-height: 2;
    font-size: 1.2em; 
    top: var(--navbar-height);
    bottom: var(--footer-height);
    left: 0;
    width: 280px; 
    z-index: 0;
    min-height: 100%; 
}

.side-link {
    color: #977060 !important;
    font-size: 1rem;
    line-height: 1em;
    text-decoration: underline !important;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: 300;
}

.side-link:hover {
    color: black !important; 
    font-weight: bold;
}

#narratives_content figcaption {
    font-style: italic;
    font-size: small;
    padding: 0 0.5rem;
}

.caption-sm-screen {
    text-align: center;
    font-style: italic;
    font-size: small;
    padding: 0 0.5rem;
}

.figure-caption-text-center {
    text-align: center;
    font-style: italic;
    font-size: small;
    padding: 0 0.5rem;
}

.doc-figure {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
    margin: 1.5rem 1.5rem;
}

#offcanvas-modal-screenshot {
    display: flex;
}

#offcanvas-modal-screenshot figure {
    margin: 0.3rem;
}

#small-layout-screenshot {
    display: flex;
}

/* Active link styling */
.side-link.active {
    font-weight: 800;
    color: rgb(219, 214, 197); /* #DBD6C5 */
}

/* Link color when hovered */
.side-link:hover {
    color: rgb(46, 14, 1); /* #2e0e01 */
}

/* Link color when visited */
.side-link:visited {
    color: rgb(61, 19, 2); /* #3d1302 */
}

/* Responsive text styling for smaller screens */
@media (max-width: 768px) {
    .sidebar-doc {
        display: none;
    }

    .doc-container {
        margin-left: 5px; 
        margin-right: 5px; 
        padding: 20px; 
    }

    .table td, .table th {
        font-size: 0.85em;
        padding: 0.5em;
    }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .sidebar-doc {
        display: none; 
    }

    .doc-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
    }

    .doc-title {
        font-size: 1.3em; 
        width: 100%;
    }
}

