:root {
    --footer-height: 7em;
}
body {
    overflow-x: hidden;
}
footer {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    min-height: var(--footer-height);
    height: fit-content;
    bottom: 0;
    padding: 0;
    margin: 0;
    margin-top: auto;
}
.footer-container {
    box-sizing: border-box;
    position: relative;
    min-height: var(--footer-height);
    height: fit-content;
    padding: 0;
    margin: 0;
    bottom: 0;
    background-color: #977060;
    margin-top: auto;
}
.footer-row {
    height: fit-content;
    box-sizing: border-box;
    width: 100vw;
    background-color: #977060;
    margin-top: auto;
}
.footer-col {
    height: fit-content;
    box-sizing: border-box;
    background-color: #977060;
}
.footer-col-logo {
    justify-content: center;
    align-items: center;
}
.footer-col-info {
    justify-content: center;
    align-items: center;
}
.footer-col-info h3 {
    color: rgb(227, 218, 208);
}
.footer-col-info p {
    font-size: smaller;
}
.copyright-row {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #977060;
    box-sizing: border-box;
    border-top: 0.5px solid rgb(227, 218, 208);
    background-color: rgb(151, 112, 96);
}
.copyright-row p {
    color: rgb(227, 218, 208);
    text-align: center;
    margin-top: 1em;
    font-size: smaller;
}
footer img {
    width: 100px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: black;
    font-weight: bold;
}