/*media queries*/
@media screen and (max-width: 900px) and (orientation: portrait) {
    #padlink{
        margin-top: 8px;
    }
    .indextitle{
        font-size: xx-large !important;
        font-weight: 800 !important;
        align-items: center;
    }
    .indexcontainer{
        overflow-x: hidden !important;
    }
    .aboutcard-container{
        overflow-x: hidden !important;
    }
    #body-im {
        height:fit-content;
        /*overflow-y: hidden;*/
    }
    #main-im {
        display: grid !important;
        grid-template-columns: 45% 45% !important;
        grid-template-rows: auto auto !important;
        justify-content: space-evenly;
        height: 100%;
        gap: 0 !important;
    }
    #infoCol, #imgCol, #tableCol {
        margin-top: 3em;
    }
    #infoCol {
        grid-column: 1 / 2;
        grid-row: 1 / 1 !important;
        /*max-height: 100% !important;*/
        box-sizing: border-box !important;
        /*align-self: center !important;*/
    }
    #infoCol h3 {
        font-size: medium;
    }
    #infoTitle {
        display: none;
    }
    #info-wrapper {
        margin-bottom: 2rem;
    }
    #infoCol p {
        font-size: smaller;
    }
    .display-text-btn {
        font-size: smaller;
    }
    #imgCol {
        grid-column: 2 / 3;
        grid-row: 1 / 2 !important;
    }
    #img, #table {
        height: 100% !important;
    }
    #tableCol {
        grid-column: 2 / 3;
        grid-row: 1 / 2 !important;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        position: relative;
        z-index: 1;
        backdrop-filter: blur(2px);
    }
    #tableCol.visible {
        opacity: 1;
    }
    th, td {
        font-size: small !important;
    }
    .see-info-icon {
        visibility: visible !important;
        z-index: 20 !important;
    }
    #imgCol figcaption {
        position: relative; 
        z-index: 2;
    }
    .fa-solid {
        font-size: small;
    }
    .narratives-list {
        max-width: 50% !important;
    }
    #info-modal {
        max-width: 100vw;
    }
    #fullText {
        overflow-y: scroll;
        max-height: 100vh !important;
    }
    #fullText > .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 900px) and (orientation: landscape) {   
    .narr-control-nav h6 {
        font-size: x-small;
    }
    .narr-control-nav i {
        font-size: x-small;
    }
    .narr-control-nav #prevBtn, .narr-control-nav #nextBtn {
        font-size: x-small;
    }   
    #infoTitle {
        margin-top: 0.5rem !important;
        font-size: large;
    }
    #infoCol p {
        font-size: x-small;
    }
    th, td {
        font-size: x-small !important;
        white-space: wrap !important;
    }
    #main-im {
        height: var(--grid-ls-height);
        margin-top: 0.1rem !important;
        gap: 0 !important;
    }
    #infoCol, #imgCol {
        height: var(--grid-ls-height);
    }
    #info-wrapper, #img-wrapper {
        height: var(--grid-ls-height);
    }
    #imgCol figure img {
        max-height: 100% !important;
    }
    #imgCol figcaption {
        font-size: x-small !important;
    }
    table {
        pointer-events: all;
    }
    .display-text-btn {
        font-size: x-small;
    }
    .modal-dialog {
        margin-top: 100px !important;
    }
    .modal-content {
        height: 50%;
    }
}
@media screen and (max-width: 550px) {
    body {
        overflow-y: hidden;
    }       
    .control-narr-nav h6 {
        font-size: smaller;
    }
    .control-narr-nav #prevBtn, .control-narr-nav #nextBtn {
        font-size: x-small;
    }
    #imgCol figcaption {
        font-size: x-small !important;
    }
    #info-wrapper {
        height: 65% !important;
        box-sizing: border-box !important;
    }
    th, td {
        font-size: xx-small !important;
    }
    #info-modal {
        margin-top: 30% !important;
        height: 30vh !important;
    }
    #infoCol, #imgCol, #tableCol {
        margin-top: 5em;
    }
    #imgCol, #tableCol {
        height: 50%;
    }
    #table {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        table-layout: fixed; /* For width constraints */
    }
    th {
        white-space: normal !important;
        word-wrap: break-word !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;  
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #e3dad0;
    border-radius: 5px;   
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #977060;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6f5247;
}

:root {
    --navbar-height: 4em;
    --narr-control-height: 3.5em;
    --main-height: calc(100dvh - var(--navbar-height) - var(--narr-control-height)) !important;
    --grid-ls-height: calc(100dvh - var(--navbar-height) - var(--narr-control-height) - 4rem);
}
html {
    height: 100%;
}
body {
    position: relative;
    background-color: #e3dad0;
    height: calc(100dvh - var(--main-height)) !important;
    font-family: "Inter", sans-serif;
}
/* navbar */
nav {
    justify-content: center;
    padding: 10px 0;
}
.navbar-brand {
    font-family: solid 'Inter', sans-serif;
    font-weight: 900;
    color: #977060!important;
}
nav a {
    color: antiquewhite;
    padding: 0 15px;
    text-decoration: none;
    color: #977060!important;
    border-radius: 30px;
}
.navbar a, .navbar li {
    font-family: 'Inter', sans-serif;
}
.nav-link:hover,.nav-link.active {
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    color: #977060 !important;
    font-family: solid 'Inter', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
.dropdown-item:hover, .dropdown-item.active {
    background-color: antiquewhite;
    color: #977060 !important;
    font-family: solid 'Inter', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
.thelinks{
    margin-top: 30px;
}
.control-narr-nav {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-top: 0.5px solid #977060;
    border-bottom: 0.5px solid #977060;
}
#nav-ul {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0.2rem 0;
}
.narr-ctrl {
    list-style-type: none;
    align-self: center;
}
.narr-ctrl-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #977060;
    border-left: 1px solid #977060;
}
.choose-narrative {
    margin: 0 0.2rem;
}
.info-icons {
    margin: 0 0.2rem;
}
#prevBtn, #nextBtn {
    font-size: x-small;
}
#main-im {
    display: grid !important;
    gap: 1.5rem;
    grid-template-columns: 25% 30% 25%;
    grid-template-rows: 45% 45%;
    margin-top: 1.3rem;
    justify-items: center;
    justify-content: space-evenly;
    text-align: justify;
}
#imgCol {
    grid-row: span 2;
}
.exhibit-figure {
    height: 100%;
}
#img-wrapper {
    position: relative;
    height: inherit;
}
#img-wrapper, #table {
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(151 112 96 / 0.5);
}
#tableCol {
    grid-row: span 2;
    width: 100% !important;
}
#infoTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}
#info-wrapper {
    max-height: 25em;
    overflow-y: scroll;
    padding: 0 0.5rem;
}
#table {
    position: relative;
    border-collapse: collapse;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}
th, td {
    font-size: smaller;
}
th {
    white-space: nowrap;
    text-align: right;
    padding-right: 1rem;
}

td {
    text-align: left;
}
table a, #info-modal a {
    color: #977060;
}
.fa-solid {
    color: black;
}
.narratives-list {
    max-width: 33%;
    background-color: rgba(255, 255, 255, 0.8);
}
.narratives-list ul > li {
    margin-top: 0.2rem;
    text-align: justify;
    list-style-type: none;
    text-decoration: underline;
    cursor: pointer;
}
.narratives-list ul > li:hover {
    color: black;
    font-weight: bold;
}
.narratives-list ul {
    margin-top: 0.5rem;
}
.see-info-icon {
    visibility: hidden;
    font-size: small;
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 0.3rem;
    padding-top: 0.4rem;
    border-radius: 50%;
}
tfoot {
    height: fit-content;
}
.offcanvas h5 {
    font-weight: bold;
}
.offcanvas li {
    color: #977060
}
#info-modal {
    height: 30em;
}
#info-modal h1 {
    font-weight: bold;
}
#info-modal h6 {
    font-weight: bold;
    color: rgb(151, 112, 96);
    padding-top: 2rem;
}
#info-modal p {
    padding-bottom: 2rem;
}
#info-modal p:last-child {
    padding-bottom: 10rem;
}

.highlight {
    border: 1px solid rgb(61, 19, 2);
    background-color: rgba(61, 19, 2, 0.3) !important;
    transition: all 0.2s ease-in;
}
th.highlight {
    border: 1px solid rgb(61, 19, 2);
    background-color: rgba(61, 19, 2, 0.3) !important;
    transition: all 0.2s ease-in;
}

.modal-backdrop {
    opacity: 0.3 !important;
}
#fullText {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: #e3dad0;
    backdrop-filter: blur(2px);
    z-index: 50; /*z-index higher than info-icon*/
}
#fullText a {
    color: rgb(151, 112, 96);
}
#fullText #fullText-btn {
    border-color: #e3dad0;
    color: #e3dad0;
    background-color: transparent;
    position: relative;
    left: 85%;
}
#fullText #fullText-btn:hover {
    color:black;
    background-color: #e3dad0;
    transition: background-color 0.3s ease-in;
}
#fullText p {
    text-align: justify;
}
.fulltext-title {
    position: sticky;
    position: -webkit-sticky;
    margin: 1em 0;
    top: 0em;
    background-color: #e3dad0;
    color: black;
    font-weight: 800;
    text-align: center;
    transition: all 0.3s ease-in;
}
#fullText img {
    padding: 1.5rem;
    float: right;
    height: 15%;
    aspect-ratio: 2 / 3;
}