/*media queries*/
@media screen and (max-width: 900px) {
    #main-im {
        display: grid !important;
        grid-template-columns: 45% 45% !important;
        grid-template-rows: auto auto !important;
        justify-content: space-evenly;
        height: 100%;
    }
    #infoCol {
        grid-column: 1 / 2;
        grid-row: 1 / 3 !important;
        max-height: fit-content !important;
        box-sizing: border-box !important;
    }
    #infoCol p {
        font-size: smaller;
    }
    #imgCol {
        grid-column: 2 / 3;
        grid-row: 1 / 2 !important;
    }
    #tableCol {
        grid-column: 2 / 3;
        grid-row: 1 / 2 !important;
        margin-bottom: 1rem;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        position: relative;
        z-index: 1;
    }
    #tableCol.visible {
        opacity: 1;
    }
    th, td {
        font-size: small !important;
    }
    .see-info-icon {
        visibility: visible !important;
        z-index: 20 !important;
    }
    figcaption {
        position: relative; 
        z-index: 2;
    }
    .narratives-list {
        max-width: 50% !important;
    }
}
@media screen and (max-width: 550px) {
    #info-wrapper {
        max-height: 20em !important;
        box-sizing: border-box !important;
    }
    th, td {
        font-size: x-small !important;
    }
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #e3dad0;
    border-radius: 5px;

   
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #977060;
    
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6f5247;
}

:root {
    --navbar-height: 4em;
    --narr-control-height: 3.5em;
    --main-height: calc(100vh - var(--navbar-height) - var(--narr-control-height)) !important;
}
body {
    position: relative;
    background-color: #e3dad0;
    height: calc(100vh - var(--main-height)) !important;
    font-family: "Inter", sans-serif;
   
}
/*.navbarIM {
    position: relative;
    z-index: 1;
}
.control-narr-nav {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-top: 0.5px solid #977060;
    border-bottom: 0.5px solid #977060;
    z-index: 1;
}
.narr-title-container {
    padding-top: 0.5rem;
}
#body-im {
    position: relative;
    border: 2px solid red;
    background-color: blueviolet;
    min-height: 100vh;
    background-color: #e3dad0;
}

#header-im {
    position: sticky;
    top: 0;
    height: var(--navbar-height);
    width: 100%;
    z-index: 1;
}
.control-narr-nav {
    margin-bottom: 0;
}
#main-im {
    min-height: 100vh;
}
#main-container-im {
    min-height: 100vh;
}
.main-row-im {
    height: 100vh !important;
}
#imgCol {
    position: sticky;
    top: calc(var(--navbar-height) * 2);
    top: 8em;
    margin-top: 6rem;
    padding-left:2em;
    max-height: 100%;
}*/
/*figure {
    object-fit: contain;
    max-height: 100%;
}
figure img {
    max-height: 100%;
}*/
/*#infoCol {
    position: relative;
    margin-top: 3.5rem;
    font-size: 1.1em;
    text-align: justify;
    padding: 0 6rem;
}
#tableCol {
    position: sticky;
    top: calc(var(--navbar-height) * 2.5);
    max-height: 70%;
    margin-top: 3rem;
}
.table-responsive {
    min-height: 100%;
}
table {
    height: 100%;
    width: 100%;
}
table a {
    color: #977060;
}
th, td {
    white-space: nowrap;
    text-align: left;
    font-size: 0.8rem;
}
#infoTitle {
    position: sticky;
    top: 4em;
    background-color: #e3dad0 !important;
    z-index: 1;
    padding-bottom: 2rem;
}
#info-wrapper {
    position: sticky;
    top: 10em;
}*/
/*---new infami monumenti--- */
/*#header-im {
    position: sticky;
    top: 0;
    height: calc(var(--navbar-height) - var(--narr-control-height)) !important;
    width: 100%;
    z-index: 1;
}*/
.control-narr-nav {
    background-color: rgba(255, 255, 255, 0.5) !important;
    
    border-top: 0.5px solid #977060;
    border-bottom: 0.5px solid #977060;
}
#nav-ul {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0.2rem 0;
}
.narr-ctrl {
    list-style-type: none;
    align-self: center;
}
.narr-ctrl-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #977060;
    border-left: 1px solid #977060;
}
.choose-narrative {
    margin: 0 0.5rem;
}
/*---old css starts---*/
/*#main-container-im {
    height: var(--main-height) !important;
}
#main-row-im {
    height: var(--main-height) !important;
}
#imgCol {
    left: 0;
    height: var(--main-height) !important;
}
#infoCol {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 1.1em;
    text-align: justify;
    padding: 0 1rem;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: rgb(227, 218, 208);
}
#infoTitle {
    position: sticky;
    top: 0;
    background-color: rgba(227, 218, 208, 0.9);
    margin-bottom: 1rem;
    text-align: center;
}
#tableCol {
    right: 0;
}*/
/*---old css ends---*/

#main-im {
    display: grid !important;
    gap: 1.5rem;
    grid-template-columns: 25% 30% 25%;
    grid-template-rows: 45% 45%;
    margin-top: 1rem;
    justify-items: center;
    justify-content: space-evenly;
    text-align: justify;
}
#imgCol {
    grid-row: span 2;
}
.exhibit-figure {
    position: relative;
    height: 100%;
}
#img {
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(151 112 96 / 0.5);
}
#tableCol {
    grid-row: span 2;
    width: 100% !important;
}
#infoTitle {
    text-align: center;
}
#info-wrapper {
    max-height: 25em;
    overflow-y: scroll;
    padding: 0 0.5rem;
}
table {
    position: relative;
    border-collapse: collapse;
    height: 100%;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(151 112 96 / 0.5);
}
th, td {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
/*.table-wrapper {
    flex: 1;
    height: 100%;
}
table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}*/
table a {
    color: #977060;
}
/*th, td {
    white-space: nowrap;
    text-align: left;
}*/
/*#imgCol, #infoCol, #tableCol {
    height: var(--main-height) !important;
    margin-top: 1em;
}*/
.narratives-list {
    max-width: 33%;
    background-color: rgba(255, 255, 255, 0.8);
}
.narratives-list ul > li {
    margin-top: 0.2rem;
    text-align: justify;
    list-style-type: none;
    text-decoration: underline;
    cursor: pointer;
}
.narratives-list ul > li:hover {
    color: #977060

}
.narratives-list ul > li:visited {
    color: #977060

}
.narratives-list ul {
    margin-top: 0.5rem;
}

.see-info-icon {
    visibility: hidden;
    position: absolute;
    bottom: 3em;
    right: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
}