/* Importing the required fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Inter:wght@300;800&display=swap');

/* CSS Variables */
:root {
    --navbar-height: 56px; /* Adjust based on your navbar height */
    --footer-height: 7em; /* Adjust based on your footer height */
}

/* General body styling */
body {
    background-color: rgb(227, 218, 208); /* #E3DAD0 */
    color: rgb(0, 0, 0); /* #2e0e01 */
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4; /* Adjusted line-height for body text */
    text-align: justify;
    overflow-y: auto; /* Allow scrolling of the body content */
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    padding: 10px 0;
    text-align: center;
    background-color: #E3DAD0;
    color: black;
    font-size: 2.5rem; /* Font size for h1 */
    margin-bottom: 40px; /* Space between title and image */
}

h2 {
    font-size: 1.5rem; /* Font size for h2, smaller than h1 */
}

h2:after {
    content: ' ';
    display: block;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

h3 {
    font-size: 1rem; /* Font size for h3, smaller than h2 */
}

a {
    color: #DBD6C5;
    text-decoration: none;
}

a:hover {
    color: black;
}

a .footerpages:visited {
    color: #CD8635;
}

.active a:active {
    color: #977060;
}

nav {
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

nav a:hover {
    background: #555;
}

.container {
    padding: 20px;
    max-width: 1200px;
}

.layout {
    height: var(--cs-main-height);
    border: 2px solid black;
}

.navbar {
    height: var(--cs-nav-height);
    background-color: rgb(151, 112, 96);
    color: rgb(219, 214, 197); /* Navbar text color */
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
}

/* Adjusted sidebar styling */
.sidebar {
    background-color: rgb(151, 112, 96); /* #977060 */
    color: rgb(219, 214, 197); /* #DBD6C5 */
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    padding-top: calc(var(--navbar-height) + 20px); /* Add top padding to avoid overlapping with navbar */
    font-size: 1rem; /* Increased font size by 20% */
    height: calc(100vh - var(--footer-height)); /* Full height sidebar minus footer height */
    position: fixed; /* Fixes sidebar on the left */
    top: 0;
    left: 0;
    width: 280px; /* Sidebar width */
    z-index: 1000; /* Make sure the sidebar is above the main content */
}

.nav-link {
    color: rgb(219, 214, 197); /* Navbar link text color */
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1rem;
}

/* Active link styling */
.nav-link.active {
    font-weight: 800;
    color: rgb(219, 214, 197); /* #DBD6C5 */
}

/* Link color when hovered */
.nav-link:hover {
    color: rgb(46, 14, 1); /* #2e0e01 */
}

/* Link color when visited */
.nav-link:visited {
    color: rgb(61, 19, 2); /* #3d1302 */
}

.row {
    height: 50%;
}

/* Carousel styles */
.carousel {
    margin-top: 2em;
    width: 90%;  /* Set the desired width */
    height: 90%; /* Set the desired height */
    margin: auto; /* Center the carousel */
}

.carousel-inner {
    height: 0;
    padding-bottom: 25%;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: contain; /* Cover the entire area without stretching */
}

/* Footer styles */
footer {
    background: #977060;
    color: #DBD6C5;
    text-align: center;
    padding: 100px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin: 270px 0 20px 0;
}

.footerpages {
    text-align: left;
}

/* Specific section styles */
#footer {
    height: var(--cs-foot-height);
}

#arch, #lit, #sculp, #paint, #fresco {
    border: 2px solid black;
}

#arch {
    background-color: rgb(133, 92, 117);
}

#lit {
    background-color: rgb(115, 111, 76);
}

#sculp {
    background-color: rgb(217, 175, 107);
}

#paint {
    background-color: rgb(175, 100, 89);
}

#fresco {
    background-color: rgb(82, 106, 132);
}

#icon {
    color: #555;
    text-align: center;
    padding: 50px;
    justify-content: center;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-container img {
    max-width: 30%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Narratives preview cards */
.hcard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.hcard {
    width: 325px;
    background-color: floralwhite;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 9px;
    transition: transform 0.6s ease;
}

.hcard:hover {
    transform: translateY(-30px);
}

.hcard img {
    width: 100%;
    height: auto;
}

.hcard-content {
    padding: 16px;
}

.hcard-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.hcard-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    width: 50%;
    text-align: center;
    background-color: #977060;
    color: floralwhite;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 10px;
}

.logo-container {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    margin: 20px 30px;
}

.logo {
    width: 110px; /* Dimensione della foto */
    float: left; /* Allinea a sinistra */
    align-items: left;
    margin-right: 15px; /* Spazio tra l'immagine e il testo */
    padding: 1px;
}

/* About cards */
.acard {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 10px;
}

.acard:hover {
    transform: translateY(-30px);
}

.acard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-right: 10px;
}

.acard div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: transform 0.6s ease;
}

.acard div.front {
    background-size: cover;
    background-position: center;
}

.acard div.back {
    background-color: floralwhite;
    transform: rotateY(180deg);
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.acard:hover div.front {
    transform: rotateY(-180deg);
}

.acard:hover div.back {
    transform: rotateY(0deg);
}

.story-map-container {
    background-color: rgb(227, 218, 208); /* #E3DAD0 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-map-container h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.story-map-container p {
    background-color: rgb(227, 218, 208); /* #E3DAD0 */
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
}

.story-map-iframe {
    width: 100%;
    height: 500px;
    border: 2px solid black;
}

/* Header image styling */
.header-image {
    background-image: url('https://s26162.pcdn.co/wp-content/uploads/2022/11/medieval-knob.jpg');
    background-size: cover; /* Ensure the image covers the header area */
    background-position: center; /* Centers the image */
    height: 300px; /* Adjust the height of the header */
    position: relative; /* Necessary for positioning the overlay and centering text */
    display: flex; /* Use flexbox for centering text */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

/* Transparent overlay */
.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); /* White overlay with 30% opacity */
    pointer-events: none; /* Ensure the overlay does not block interactions */
    z-index: 1; /* Place the overlay behind the text */
}

/* Header text styling */
.header-image h1 {
    color: rgb(46, 14, 1); /* #2e0e01 */
    text-shadow: 4px 4px 6px rgb(219, 214, 197); /* Optional: Adding shadow for better text visibility */
    text-align: center; /* Center-align text in header */
    z-index: 10; /* Ensure the text appears above the overlay */
    font-size: 2.5rem; /* Adjust the font size */
}

/* Responsive text styling for smaller screens */
@media (max-width: 100%) {
    .header-image h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Sidebar takes full width */
        height: auto; /* Adjust height to content */
        position: relative; /* Position it relative */
        padding: 20px; /* Adjust padding */
    }

    .content-section {
        margin-left: 0; /* Remove left margin */
        margin-right: 0; /* Remove right margin */
        padding: 20px; /* Adjust padding */
    }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .sidebar {
        padding: 10px; /* Further adjust padding */
    }

    .content-section {
        padding: 10px; /* Further adjust padding */
    }
}

/* Content section styling */
.content-section {
    padding: 40px;
    background-color: rgb(227, 218, 208); /* #E3DAD0 */
    margin: 40px 0;
    border-radius: 5px;
    line-height: 1.4; /* Adjusted line-height for content sections */
    text-align: justify;
    margin-left: 300px; /* Add margin for better spacing */
    margin-right: 20px; /* Add margin for better spacing */
}


/* Special titles styling */
.special-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
}
