/* Importing the required fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Inter:wght@300;800&display=swap');
@media screen and (max-width: 900px) {
    #padlink{
            margin-top: 8px;
        }
    .indextitle{
        font-size: xx-large !important;
        font-weight: 800 !important;
        align-items: center;
    }
    .indexcontainer{
        overflow-x: hidden !important;
    }
    .aboutcard-container{
        overflow-x: hidden !important;
    }
    .aboutcard-container{
        padding-top: 50px !important;
    }
}
:root {
    --cs-nav-height: 4em;
    --cs-main-height: calc(100vh - var(--cs-nav-height) - var(--cs-foot-height));
    --cs-foot-height: 7em;
    --narr-control-height: 4em;
    --navbar-height: 56px; /* Adjust based on your navbar height */
    --footer-height: 7em; /* Adjust based on your footer height */
    --img-column-w: 25vw;
    --data-column-w: 25vw;
    --info-column-w: calc(100vw - var(--img-column-w) - var(--data-column-w) - 3.5vw);
    --main-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    --sidebar-doc: 280px;
}
/* General body styling */
body {
    background-color: rgb(227, 218, 208);
    color: rgb(0, 0, 0); /* #000000 */
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4; /* Adjusted line-height for body text */
    text-align: justify;
    overflow-y: auto; /* Allow scrolling of the body content */
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    text-align: center;
    background-color: rgb(227, 218, 208);
    color: black;
    font-size: 4rem; /* Font size for h1 */
    margin-bottom: 40px; /* Space between title and image */
}

h2 {
    font-size: 1.5rem; 
}

h3 {
    font-size: 1rem; /* Font size for h3, smaller than h2 */
}

a {
    color: #dbd6;
    text-decoration: none;
}

a:hover {
    color: black;
}

.active a:active {
    color: #977060;
}

.container-fluid-layout {
    margin-top: 4.5em;
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
    flex: 1;
    overflow-y: auto;
    margin-bottom: -7.5em;
}

.container-fluid-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-fluid-layout .row {
    height: calc(50% - var(--navbar-height)/2 - var(--footer-height)/2);
}

/* Carousel styles */
.carousel {
    margin-top: 2em;
    width: 90%;  /* Set the desired width */
    height: 90%; /* Set the desired height */
    margin: auto; /* Center the carousel */
}
.carousel-inner {
    height: 0;
    padding-bottom: 25%;
    width: 100%;
    height: 100%;
}
.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: contain; /* Cover the entire area without stretching */
}
/* Custom CSS to change carousel dimensions */
#carouselExampleIndicators {
    width: 90%;  /* Set the desired width */
    height: auto; /* Adjust height to be proportional */
    margin: auto; /* Center the carousel */
}
#carouselExampleIndicators .carousel-inner {
    width: 100%;
    height: auto; 
}
#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height: auto; /* Make the image adjust proportionally */
    object-fit: contain; /* Cover the entire area without stretching */
}
/* Specific section styles */
#arch {
    background-color: rgb(133, 92, 117);
    border: 2px solid black;
}
#lit {
    background-color: rgb(115, 111, 76);
    border: 2px solid black;
}
#sculp {
    background-color: rgb(217, 175, 107);
    border: 2px solid black;
}
#paint {
    background-color: rgb(175, 100, 89);
    border: 2px solid black;
}
#fresco {
    background-color: rgb(82, 106, 132);
    border: 2px solid black;
}

/* Story Map Container Page */
.story-map-container {
    margin: 2.5em 0 2.5em 0;
    background-color: rgb(227, 218, 208);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    min-height: calc(var(--navbar-height) - var(--footer-height));
    overflow-y: hidden;
}
.custom-btn-storymap {
    display: inline-block;
    padding: 8px 12px;
    background-color: #736f4c; /* Cor personalizada */
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
}

.custom-btn-storymap:hover {
    background-color: #5e5b3a; /* Tom mais escuro ao passar o mouse */
}

/* INDEX (homepage) */
.indexcontainer {
    font-family: 'Inter', sans-serif;
    font-weight: 300px;
    margin: 0;
    padding: 0;
    background-color:rgb(227, 218, 208);
    color: black;
    margin-bottom: 40px; /* Spazio tra il titolo e l'immagine */
    text-align: center;
}

/* navbar */
nav {
    justify-content: center;
    background: antiquewhite;
    padding: 10px 0;
}
.navbar-brand{
    font-family: solid 'Inter', sans-serif;
    font-weight: 900;
    color: #977060!important;
}
.nav-link{
    text-decoration: none;
    color: #977060!important;
    border-radius: 30px;
    margin-bottom: 5px;
}
nav a  {
    padding: 0 15px;
    text-decoration: none;
    color: #977060!important;
    border-radius: 30px;
}
.container {
    padding: 20px;
}
main{
    min-height: calc(100vh - 202.87px);
    margin-bottom: 120px;
}

.nav-link:hover,.nav-link.active {
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    color: #977060 !important;
    font-family: solid 'Inter', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
.dropdown{
    padding-right: 12px;
}
.dropdown-item:hover, .dropdown-item.active {
    background-color: antiquewhite;
    color: #977060 !important;
    font-family: solid 'Inter', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
.dropdown-item{
    text-align: right;
}

.navbar-collapse{
    font-size: 20px;
}
  
/* TITLE */
h1{
    font-family: solid 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    background-color:rgb(227, 218, 208);
    color: black;
    letter-spacing: 0.5em;
}
.indextitle-container{
    justify-content: center;
}
#titletop{
    margin-top: 2em;
    padding-top: 2em;
}
.indextitle{
    font-weight: 1000;
    margin-top: 75px;
    margin-bottom: 100px;
    font-family: solid 'Inter', sans-serif;
    padding-top: 5px;
}

#infamitop{
    margin-top: 0px;
}

/* slider homepage */
#hidslide{
    overflow-x: hidden;
}
.indexslider{
    height: 375px;
    margin: auto;
    position: relative;
    width: calc(250px * 6,5);
    overflow: hidden; 
    display: grid;
    place-items: center;
}
.indexslide-track{
    display: flex;
    width: calc(250px * 42);
    animation: scroll 40s linear infinite;
}
.indexslide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-205px * 16));
    }
}
.index-slide{
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.indexslider img{
    height: 300px !important;
    width: 100% !important;
    object-fit: cover;
    

}
img:hover{
    transform: translateZ(20px);
    transition: transform 1s;
}
.indexslider::before,
.indexslider::after{
    background: linear-gradient(to right,rgb(227, 218, 208,1) 0%,
    rgba(214, 156, 105, 0) 50%);
    content: '';
    height: 100%;
    position: absolute;
    width: 30%;
    z-index: 2;
    padding: 0px;

}
.indexslider::before{
    left: -75px;
    padding-left: 0px;
    height: 500px;
}
.indexslider::after{
    right: -75px;
    padding-right: 0px;
    height: 500px;
    transform: rotateZ(180deg); 
}

.container .text-center{
    margin: -100px;
    padding: -100px;
    position: relative;
}

.palette-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 180px auto auto auto;
    grid-gap: 10px;
    justify-content: center;
    padding: 0px;
}

.palette {
    background: #fff;
    overflow: hidden;
    position: relative;
    top: 0;
    padding: 0;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-flow: column;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.palette:hover {
    top: -5px;
    box-shadow: 0 8px 20px rgba(128, 128, 128, 0.12);
}
.palette--main-color {
    grid-column: span 6;
}
.palette--secondary-color {
    grid-column: span 4;
}
.palette--grays {
    grid-column: span 2;
}
.palette-headers {
    grid-column: span 12;
}
.palette__info {
    color: #333;
    position: relative;
    flex: 0 0 auto;
    font-size: 14px;
    padding: 12px;
    font-family: 'hardingreg';
    font-weight: bold;
}
.palette__info__hexcode {
    margin-top: 3px;
    font-size: 12px;
    color: gray;
}
.palette__colors {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
}
.palette__color {
    background: var(--bg-color);
    height: 100%;
    flex: 1;
}

.font-white {
    color: #fff;
}

/* Call To Action Section */
.call-to-action {
    padding: 200px 0;
    position: relative;
    clip-path: inset(0);
  }
  
  .call-to-action img {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .call-to-action:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 50%);
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .call-to-action .container {
    position: center;
    z-index: 3;
    justify-content: center;
  }
  
  .call-to-action h3 {
    color: antiquewhite;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
  }
  
  .call-to-action p {
    color: antiquewhite;
    margin-left: 200px;
  }
  
  .call-to-action .cta-btn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid  #977060;
    color: var(--contrast-color);
    align-items: center;
    margin-left: 200px;
    color: antiquewhite;
  }
  @media(min-width: 370px){
    .call-to-action .cta-btn{
        text-align: center;
        align-items: center;
    }
  }
  .call-to-action .cta-btn:hover {
    background:  #977060;
    border: 2px solid var(--accent-color);
  }
  .dark-background {
    --background-color: #252525;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: gray;
    --contrast-color: black;
  }

/*  expo */

#expo{
    background-color: #977060;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#read{
    background-color: #977060;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


/* Stili per la disposizione in riga */
.newindexcontainer {
    display: flex;
    justify-content: space-between; /* Distribuisce lo spazio tra i div */
    gap: 10px; /* Spazio tra i div */
  }
  
  /* Il box grande occuperà più spazio del box piccolo */
.box-large {
    flex: 2; /* Occupa 2/3 della larghezza */
  }
  
.box-small {
    flex: 1; /* Occupa 1/3 della larghezza */
  }
  
  /* Stili comuni ai box */
  .box {
    padding: 20px;
    background-color: #977060;
    text-align: center;
  }

  /* Disposizione in colonna per schermi piccoli */
  @media (max-width: 768px) {
    .newindexcontainer {
      flex-direction: column; /* Cambia da riga a colonna */
    }
  
    .box-large, .box-small {
      width: 100%; /* I div ora occupano il 100% della larghezza */
    }
  }
  video {
    width: 100%; /* Il video si adatta alla larghezza del suo contenitore */
    height: auto; /* Mantiene il rapporto di aspetto */
    max-width: 800px; /* Limita la larghezza massima */
    border: 2px solid #ccc; /* Bordo attorno al video */
    border-radius: 10px; /* Angoli arrotondati (opzionale) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra (opzionale) */
  }
  
.priapobtn{
    background-color:antiquewhite; /* Colore di sfondo (verde) */
    color: #977060;/* Colore del testo */
    border: none; /* Rimuove i bordi standard */
    padding: 15px 30px; /* Spaziatura interna */
    font-size: 16px; /* Dimensione del testo */
    font-weight: bold; /* Testo in grassetto */
    border-radius: 40px; /* Bordi arrotondati */
    cursor: pointer; /* Puntatore per l'interazione */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra */
    transition: all 0.3s ease; /* Transizione fluida per gli effetti */
    margin-bottom: 10px;
  }
  
.priapobtn:hover {
    background-color:white; /* Colore di sfondo quando si passa sopra (hover) */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Aumenta l'ombra */
    transform: translateY(-3px); /* Solleva leggermente il bottone */
  }
  
.priapobtn:active {
    transform: translateY(1px); /* Piccolo affossamento quando cliccato */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Riduce l'ombra quando il bottone è premuto */
  }
  
.videotitle{
    margin-top: 30px;
    color: antiquewhite;
    font-size: x-large;
}
.videop{
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
#wyl{
    font-weight: bold;
}
.exlink{
    color: #977060;
    background-color: antiquewhite;
}
.exlink:hover{
    color: #252525;
    background-color: white;

}
/* Tooltip container */
#contenitoreTooltip{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tooltip{
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}
#tooltipText{
    position: absolute;
    left: 50%;
    top: 0;
    transform:translateX(-50%);
    background-color: #977060;
    color: #555;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#tooltipText::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #977060 #0000 #0000 #0000;
}
#tooltip:hover #tooltipText{
    top: -60%;
    visibility: visible;
    opacity: 1;
}

/*stylle for timeline*/

.timeline-container {
    margin: 0 0 2.5em 0;
    padding: 0 0 5em 0;
    background-color: rgb(227, 218, 208);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    min-height: calc(var(--navbar-height) - var(--footer-height));
}

img {
    max-width: 100%;
    height: 100%;
}

p, li {
    font-size: 0.8em; 
    color: #333333; 
    line-height: 1.5;
}

p {
    margin:0 0 20px 0;
}

ul {
    margin: 0; 
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 1em;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1642px;
}

.inner-wrapper-padding {
    padding: 0 80px;
}

.about-timeline {
    background-color:rgb(227, 218, 208); 
    padding: 140px 0 125px;
}

.end-point {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: -2.5em;
    margin-right: -80%;
    padding-bottom: 20px;
}

.museum-button {
    background-color: #3d1302;
    color: #e3dad0;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 20px; 
}

.museum-button:hover {
    background-color: #977060;
}

.horizontal-line-end {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: calc(100% - 40px);
    height: 2px;
    background-color: #3d1302;
}


.timeline-box h5 {
    font-size: 1.3em; 
    line-height: 1; 
    text-align: center;
    color: #3d1302; 
    font-weight: 700; 
    font-family: 'Inter', sans-serif;
    background-color: #e3dad0;
    position: relative; 
    z-index: 1; 
    display: inline-block; 
    width: auto; 
    padding: 0 10px;
    margin-top: 0; 
    transform: translate(0,-50%);
} 

.timeline-box p {
    font-size: 1em; 
    line-height: 27px; 
    color: #000000; 
    font-weight: 400;
    margin-bottom: 26px;
    font-family: 'Inter', sans-serif;
} 

.timeline-box p:last-of-type {
    margin-bottom:15px;
} 

.start-point h4 {
    font-size: 2.5em; 
    line-height: 45px; 
    color: rgb(227, 218, 208); 
    font-weight: 800;
    text-transform: uppercase;
    background-color:#3d1302;
    border-radius: 16px;
    display: block; 
    width: auto; 
    text-align: center; 
    padding: 25px;
    position: relative;
    margin: 0;
    font-family: 'Inter',sans-serif;
    letter-spacing: 0.5em;
} 

.black-dot {
    width: 21px;
    height: 21px;
    background-color: #000;
    border-radius: 50%;
    display: block;
    margin: 0 auto 62px;
    z-index: 1;
} 

.start-point {
    position: relative;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center
} 

.start-point:before {
    content:'';
    position: absolute;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: rgb(227, 218, 208);
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    border-left: 2px solid #3d1302;
} 

.timeline-row .horizontal-line {
    border-top: 2px solid #3d1302;
    width: calc(100% - 150px); 
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: translate(-50%,0%);
}

.timeline-row .verticle-line {
    margin: 0;
    padding: 0;
    width: 2px;
    border-right: 2px solid #3d1302;
    height: calc(100% - 150px);
    position: absolute;
    top: 0;
    right: 0;
    margin: auto 0;
    bottom: 0;
} 

.timeline-row:nth-child(2n+2) .verticle-line {
    left: 0;
    right: inherit;
} 

.corner {
    position: absolute;
    border-right: 2px solid #3d1302;
    width: 76px;
    height: 76px;
    right: 0;
    border-top: 2px solid #3d1302;
    top: 74.9px;
    border-radius: 0 70px 0 0;
    top: 0;
} 

.timeline-row:nth-child(2n+2) .corner {
    right: inherit;
    left: 0;
    border-left: 2px solid #3d1302;
    border-right: 0;
    border-radius: 70px 0 0 0;
} 

.corner.bottom {
    bottom: -76px;
    top: inherit;
    border-radius: 0;
    border-top: 0;
    border-bottom: 2px solid #3d1302;
    border-radius: 0 0 70px 0;
    right: 0;
    z-index: 1;
    bottom: -1px;
} 

.timeline-row:nth-child(2n+2) .corner.bottom {
    border-radius: 0 0 0 70px;
} 

.timeline-row {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-bottom: 0px;
    position: relative;
}

.timeline-row:nth-child(2n+2) {
    justify-content: space-around;
    text-align: right;
    padding: 0 2%;
} 

.timeline-row:nth-child(2n+2) {
    flex-direction: row-reverse;
} 

.timeline-box {
    max-width: 550px;
    margin-right: 25px; 
    position: relative;
} 

.timeline-main {
    margin-top: 75px;
} 

.timeline-row:first-child {
    margin: 0 0px 0 auto;
    max-width: 50%;
    justify-content: space-between;
    padding: 0 0 0 120px;
}

.corner.bl {
    bottom: 0;
    left: 0;
    border-left: 2px solid #3d1302;
    border-bottom: 2px solid #3d1302;
    border-radius: 0 0 0px 100%;
    border-right: none;
    border-top: none;
    height: 76px;
    width: 76px;
}

.start-point .corner.bl {
    left: 50%;
    bottom: 0px;
    transform: translateY(100%);
    top: unset;
} 

.timeline-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 27.5px;
    height: 1px;
    width: 100%;
} 

.timeline-box-wrap {
    padding: 45px 0px 0;
    position: relative;
    background: rgb(227, 218, 208);
    padding: 0;
    margin-bottom: 90px;
} 

.timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0;
} 

.timeline-content-txt {
    padding-top: 10px;
    text-align: center;
} 

.timeline-box-wrap .timeline-content img {
    margin: 0 0 10px 0;
    filter: drop-shadow(0 0 27px rgba(0,0,0,0.16));
    -webkit-filter: drop-shadow(0 0 27px rgba(0,0,0,0.16));
    z-index: 2;
    position: relative;
    width: 180px;
    height: 230px;
    object-fit: cover;
} 

.timeline-row:last-child .corner.bottom {
    display: none;
} 

.timeline-row:nth-child(2n+1) .timeline-box:last-child .timeline-box-wrap {
    text-align: center;
}

.start-point.end-point:before {
    display: none;
}

.start-point.end-point {
    position: absolute;
    bottom: 0;
    right: 0%;
    transform: translateX(50%);
}

.timeline-row:nth-child(2n+2) .start-point.end-point {
    left: 0;
    transform: translateX(-50%);
}

.timeline-box.img-right .timeline-content-txt {
    text-align: right;
}

.timeline-box.img-left .timeline-content-txt {
    text-align: left;
}

.timeline-box.img-left,
.timeline-box.img-right {
    text-align: center;
}

.timeline-row:first-child .timeline-box::after {
    left: auto;
    right: 0;
    -webkit-transform: translate(100%,-50%) rotate(0deg);
    transform: translate(100%,-50%) rotate(0deg);
}

.timeline-row:first-child .timeline-box:first-child {
    width: 36%;
}

.timeline-row .timeline-box:nth-child(3)::after {
    display: none;
}

.timeline-row:last-child .verticle-line::after {
    display: none;
}

.timeline-row:first-child .timeline-box:nth-child(2)::after {
    display: none;
}

.timeline-content-img .timeline-content {
    position: relative;
}

@media screen and (max-width: 1024px) {

    .corner {
        display: none;
    }

    .timeline-row .horizontal-line {
        display: none;
    }

    .timeline-row:first-child {
        max-width: 100%;
        padding: 0;
    }

    .timeline-main {
        margin-top: 0;
    }

    .timeline-row .verticle-line {
        right: 50%;
        transform: translate(50%, 0);
        height: calc(100% - 0px);
    }

    .timeline-row:nth-child(2n+2) .verticle-line {
        left: auto;
        right: 50%;
    }

    .verticle-line::after {
        display: none;
    }

    .timeline-row .timeline-box {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .timeline-row:first-child .timeline-box:first-child {
        width: 100%;
        margin: 0;
    }

    .timeline-row:first-child .timeline-box:nth-child(2) {
        width: 100%;
    }

    .timeline-box p br {
        display: none;
    }

    .timeline-box h6 {
        transform: translate(0, -0%);
        padding: 0;
    }

    .timeline-content {
        padding: 0;
    }

    .timeline-box.img-right .timeline-content-txt {
        width: 100%;
    }

    .start-point.end-point {
        right: 50%;
    }

    .start-point h4 {
        font-size: 2em; 
        line-height: 40px; 
        padding: 20px;
        margin-bottom: 35px;
    }

    .about-timeline {
        padding: 80px 0;
    }

    .timeline-box::after {
        -webkit-transform: translate(-100%, 100%) rotate(180deg);
        transform: translate(-100%, 100%) rotate(180deg);
        right: 50%;
        top: 20px;
        left: 50%;
    }

    .timeline-box-wrap {
        width: 50%;
        text-align: right;
        padding: 0 30px 0 0;
        margin: 40px 40px 0 40px;
    }

    .timeline-row .timeline-box img {
        margin: 0 0 0 auto;
    }

    .timeline-row:first-child .timeline-box:nth-child(2)::after {
        display: block;
    }

    .timeline-row:first-child .timeline-box:first-child img {
        margin: 0 0 0 auto;
    }

    .timeline-box.img-right .timeline-content img,
    .timeline-box.img-left .timeline-content img {
        margin: 0 0 0 auto;
    }

    .timeline-row .timeline-box:nth-child(2n) .timeline-box-wrap {
        margin: 40px 0 0 auto;
        padding: 0 0 0 30px;
        text-align: left;
    }

    .timeline-row:nth-child(2n+1) .timeline-box::after {
        left: auto;
        right: 50%;
        -webkit-transform: translate(0%, 100%) rotate(180deg);
        transform: translate(0%, 100%) rotate(180deg);
        top: 20px;
    }

    .timeline-row .timeline-box:nth-child(2n)::after {
        transform: translate(100%, 100%) rotate(0deg);
        -webkit-transform: translate(100%, 100%) rotate(0deg);
        right: 50%;
        left: auto;
    }

    .timeline-row .timeline-box:nth-child(3)::after {
        display: block;
    }

    .timeline-box.img-left .timeline-content-txt {
        text-align: right;
    }

    .timeline-row:last-child {
        padding-bottom: 70px;
    }

    .end-point {
        margin-right: 0;
    }
}

@media screen and (max-width: 640px) {

    .about-timeline {
        padding: 50px 0 100px 0;
    }

    .timeline-box h6 {
        font-size: 27px;
    }

    .timeline-box p {
        font-size: 14px;
        line-height: 1.4;
    }

    .timeline-box-wrap {
        margin: 30px 0 0 0;
    }

    .timeline-row .timeline-box:nth-child(2n) .timeline-box-wrap {
        margin: 30px 0 0 auto;
    }

    .timeline-box::after,
    .timeline-row:nth-child(2n+1) .timeline-box::after {
        top: 6px;
    }

    .timeline-box-wrap .timeline-content img {
        max-width: 100%;
    }

    .timeline-box.img-right .timeline-content img,
    .timeline-box.img-left .timeline-content img {
        max-width: 100%;
        max-height: unset;
    }
    .start-point h4 {
        font-size: 1.5em; 
        line-height: 35px; 
        padding: 15px;
        margin-bottom: 25px;
    }
    .end-point {
        margin-right: 0;
    }
    .museum-button {
        font-size: 1em;
    }
    h6 {
        margin: 2em;
    }
}


/* narratives preview cards */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.indexcard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 15px;
    padding-bottom: 30px;
}

.indexcard{
    width: 325px;
    background-color: floralwhite;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px, 2px, 4px rgba(0,0,0,0.2);
    margin: 10px;
    padding: 9px;
    transition: transform 0.6s ease;
    margin-top: 40px;
    padding-top: 0%;

}
.indexcard:hover{
    transform: translateY(-30px);
}

.indexcard img{
    width: 100%;
    height: auto;
    height: 90%;
    border-radius: 15px;
    padding-top: 0px;

}
.indexcard-content{
    padding: 2px;
    margin-bottom: 0px;
}

.indexcard-content h3{
    font-size: 28px;
    margin-bottom: 5px;

}  

.indexcard-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
} 

.cdbtn{
    display: inline-block;
    padding: 5px 10px;
    width: 50%;
    text-align: center;
    background-color: #977060;
    color:floralwhite;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

a {
    color:rgb(227, 218, 208);
    text-decoration: none;; 
}

a:hover {
    color:black;
}

.indeximgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; /* Imposta l'altezza corretta */
    width: 100%; /* Larghezza che si adatta alla card */
    overflow: hidden; /* Nasconde l'eventuale eccesso di immagine */
    margin-bottom: 0px;
    margin-top: 0%;
}

.previewphoto {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ritaglia l'immagine in modo che si adatti al contenitore */
    padding-top: -30%;
    padding-bottom: -30%;
}

/* footer */
*{
    padding: 0;
    margin: 0;
}

/*footer{
    position: relative;
    bottom: 0;
    margin: 0;
    text-align: center;
    background-color: #977060;
    margin-top: 300px;
    margin-bottom: -40px;
}

.footer{
    background-color: #977060;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 13px sans-serif;
    padding: 30px 20px 30px 80px;
    bottom: -40px;
    margin-top: -100px;
}

.footer-left,
.footer-center,
.footer-right{
    display:inline-block;
    vertical-align: top;
}*/


.footer-left{
    width: 35%;
}
.footer h4{
    color: floralwhite;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font: 15px sans-serif;
}
.footer-left img{
    width: 25%;
    vertical-align: middle;
}
.footer-left .logoimg{
    width: 100;
}
.footer-copyright{
    color: #555;
    font-size: 14px;
    width: 18px;
    border-radius: normal;
    margin: 0;
    padding-top: 2%;
}
.footer-center{
    width: 30%;
    margin-left: 10px;
}

.footer-right{
    width: 30%;
}
.footer .footer-center .li a{
    display: block;
    color: floralwhite;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
#footer {
    height: var(--cs-foot-height);
}
.footeractive-link {
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 5px;
    color: #977060;
    padding-left: 5px;
    padding-right: 5px;
}

/*media queries footer*/
@media(max-width: 480px){
    .footer-col-loo{
        width: 50%;
        margin-bottom: 0px;
    }
    .footer-col-info{
        width: 100%;
        margin-bottom: 5px;
    }
    .container-fluid-layout{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

@media (min-width: 360px){
    .indexcard-container{
        padding-bottom: 80px !important;
    }
    .aboutcard-container{
        padding-bottom: 100px !important;
    }
    .maindisclaimer{
        padding-bottom: 10px;
    }
    .container-fluid-layout{
        padding-bottom: 50px;
    }
}

@media (max-width: 767px){
    .indexcard-container{
        padding-bottom: 40px !important;
    }
    .aboutcard-container{
        padding-bottom: 40px !important;
    }
    .maindisclaimer{
        padding-bottom: 10px;
    }
    .container-fluid-layout{
        padding-bottom: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .indexcard-container{
        padding-bottom: 40px !important;
    }
    .aboutcard-container{
        padding-bottom: 40px !important;
    }
    .maindisclaimer{
        padding-bottom: 10px;
    }
   
    .container-fluid-layout{
        padding-bottom: 50px;
    }
}
@media (min-width: 992px){
    .indexcard-container{
        padding-bottom: 40px !important;
    }
    .aboutcard-container{
        padding-bottom: 40px !important;
    }
    .maindisclaimer{
        padding-bottom: 10px;
    }
    .container-fluid-layout{
        padding-bottom: 30px;
    }
}



/* about cards */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.aboutcard{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 10px;
    margin-bottom: 80px;
    margin-top: 40px;
    padding-top: 10px;
}


.aboutcard:hover{
    transform: translateY(-30px);
}

.aboutcard-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-right: 20px;
    margin-bottom: 80px;
    padding-top: 20px;
}


.aboutcard div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1.5s;
    border-radius: 20px;
    border-color: #977060;
}
.aboutcard .front{
    background-color: floralwhite;
    transform: perspective(500px)rotateY(0deg);
}
.aboutcard .back{
    background-color: #977060;
    transform: perspective(500px)rotateY(180deg);
}
.aboutcard:hover .front{
    background-color: floralwhite;
    transform: perspective(500px)rotateY(180deg);
}
.aboutcard:hover .back{
    background-color: #977060;
    transform: perspective(500px)rotateY(360deg);
}
.aboutcard div img{
    position: fixed;
    width: 310px;
    height: 320px;
    top: 1px;
}
.aboutcard div h3{
    position: fixed;
    width: 500px;
    height: 80px;
    bottom: -50px;
    text-align: center;
}
div .back p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.backcardtitle{
    color: floralwhite;
    font-weight: bold;
    text-align: center;
}
/* Footer styling */
/*footer {
    background: #977060;
    color: #DBD6C5;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
}*/
/*infami monumenti page
.navbarIm {
    position: fixed;
    width: 100vw;
}
#imBody {
    overflow-x: hidden;
}
#imMain {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    overflow-x: hidden;
    width: 100%;
    height: var(--main-height);
    height: calc(100vh - var(--navbar-height));
    position: absolute;
    bottom: 0;
}
#mainIMContainer {
    height: 100vh !important;
    margin: 0;
    padding: 0;
}
#imRow {
    height: 100vh !important;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#imgCol, #dataCol {
    position: fixed;
    height: 75%;
    top: 0;
}
#imgCol {
    left: 0;
    margin-top: 1em;
    margin-right: 2em;
    width: var(--img-column-w);
    margin-top: 6.5em;
    margin-left: 1em;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
figcaption {
    margin-top: 5px;
}
.wrapper {
    width: var(--info-column-w);
    margin-top: 5em;
    margin-left: var(--img-column-w);
    box-sizing: border-box;
    border: 1px solid black;
    padding-top: 0;
}
/*#infoCol {
    background-color: blue;
    overflow-y: auto;
    width: var(--info-column-w);
    height:100%;
    margin-left: 25vw;
    margin-top: 5em;
}*/
/*.wrapper p {
    text-align: center;
    padding: 0;
    margin: 0;
}*/
/*.buttonContainer {
    margin-top: auto;
    height: fit-content;
}
#dataCol {
    right: 0;
    margin-top: 1em;
    margin-left: 3em;
    width: var(--data-column-w);
    margin-top: 6.5em;
    margin-right: 1em;
}
#imTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}*/

/*---new infami monumenti--- */
/*.control-narr-nav {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-top: 0.5px solid #977060;
    border-bottom: 0.5px solid #977060;
}
#header-im {
    position: sticky;
    top: 0;
    height: var(--navbar-height);
    width: 100%;
    z-index: 1;
}
#main-container-im {
    height: calc(var(--cs-main-height) - var(--narr-control-height));
}
#imgCol {
    left: 0;
    height: fit-content;
}
#infoCol {
    margin-top: 3.5rem;
    font-size: 1.1em;
    text-align: justify;
    padding: 0 6rem;
}
#tableCol {
    right: 0;
    height: fit-content;
}*/
/*---Disclaimer---*/
.discTitle {
    font-family: solid 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    background-color:rgb(227, 218, 208);
    color: black;
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-top: 2.5em;
}
.discLine {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.discContainer {
    margin-bottom: 4em;
}
.discContainer > .row {
    margin-bottom: 4em;
}
.discContainer p {
    margin-top: 1em;
    margin-left: 15%;
    margin-right: 15%;
}
.discLink {
    color: #977060;
}
.discLink:hover {
    color: black;
    font-weight: bold;
}
/*Style for documentation page*/
.doc-container {
    flex: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0;
    padding-top: 5em;
    position: relative; 
    z-index: 1; 
    min-height: calc(var(--navbar-height) - var(--footer-height));
    width:auto;
    overflow: auto;
}
.doc-title{
    font-family: solid 'Inter', sans-serif;
    font-weight: 800;
    text-align: center;
    background-color:rgb(227, 218, 208);
    color: black;
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-top: 2em;
    margin-bottom: 0;
    max-width: 100%;
}

.doc-line {
    width: var(--container-width);
    height: var(--container-height);
}
.doc-container p {
    font-weight: 300;
}
.doc-container a {
    color: #977060
}
.doc-container a:hover {
    color: black;
    font-weight: bold;
}
.doc-content{
    padding-top: 5em;
}
.sidebar-doc {
    position: fixed;
    padding: 1em 1em 6em 1em;
    overflow-y: auto;
    top: 0;
    align-self: flex-start;
    background-color: white; 
    color: rgb(​219, 214, 197); 
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 2;
    font-size: 1rem; 
    top: var(--navbar-height);
    bottom: var(--footer-height);
    left: 0;
    width: 280px; 
    z-index: 0;
    min-height: 100%; 
}
.side-link {
    color: rgb (​219, 214, 197); 
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 1.4;
    padding: 2em;
}
#narratives_content figcaption {
    font-style: italic;
    font-size: small;
    padding: 0 0.5rem;
}
.doc-figure {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
    margin: 1.5rem 1.5rem;
}
#offcanvas-modal-screenshot {
    display: flex;
}
#offcanvas-modal-screenshot figure {
    margin: 0.3rem;
}
#small-layout-screenshot {
    display: flex;
}
/* Active link styling */
.side-link.active {
    font-weight: 800;
    color: rgb(219, 214, 197); /* #DBD6C5 */
}
/* Link color when hovered */
.side-link:hover {
    color: rgb(46, 14, 1); /* #2e0e01 */
}
/* Link color when visited */
.side-link:visited {
    color: rgb(61, 19, 2); /* #3d1302 */
}
/* Responsive text styling for smaller screens */
@media (max-width: 768px) {
    .sidebar-doc {
        width: 100%; /* sidebar-doc takes full width */
        height: auto; /* Adjust height to content */
        position: relative; /* Position it relative */
        padding: 20px; 
    }

    .doc-container {
        margin-left: 5px; 
        margin-right: 5px; 
        padding: 20px; 
    }

    .table td, .table th {
        font-size: 0.85em;
        padding: 0.5em;
    }

}
/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .sidebar-doc {
        width: 100%;
    }

    .doc-container {
        padding: 10px; /* Further adjust padding */
    }

    .doc-title {
        font-size: 1.3em; 
        width: 100%;
    }
}