/* Importing the required fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Inter:wght@300;800&display=swap');

:root {
    --cs-nav-height: 4em;
    --cs-main-height: calc(100vh - var(--cs-nav-height) - var(--cs-foot-height));
    --cs-foot-height: 7em;
    --navbar-height: 56px; /* Adjust based on your navbar height */
    --footer-height: 7em; /* Adjust based on your footer height */
    --img-column-w: 25vw;
    --data-column-w: 25vw;
    --info-column-w: calc(100vw - var(--img-column-w) - var(--data-column-w) - 3.5vw);
    --main-height: calc(var(--navbar-height) - var(--footer-height));
    --sidebar-doc: 280px;
}
/* General body styling */
body {
    background-color: rgb(227, 218, 208); /* #E3DAD0 */
    color: rgb(0, 0, 0); /* #000000 */
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4; /* Adjusted line-height for body text */
    text-align: justify;
    overflow-y: auto; /* Allow scrolling of the body content */
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    padding: 10px 0;
    text-align: center;
    background-color: #E3DAD0;
    color: black;
    font-size: 2rem; /* Font size for h1 */
    margin-bottom: 40px; /* Space between title and image */
}

h2 {
    font-size: 1.5rem; 
}

h3 {
    font-size: 1rem; /* Font size for h3, smaller than h2 */
}

a {
    color: #DBD6C5;
    text-decoration: none;
}

a:hover {
    color: black;
}

.active a:active {
    color: #977060;
}
nav {
    top: 0;
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px 0;
}
nav a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}
nav a:hover {
    background: #555;
}
.container {
    padding: 20px;
    max-width: 1200px;
}
.layout {
    height: var(--cs-main-height);
    border: 2px solid black;
    padding-top: 4em;
    padding-bottom: 4em;
}
.layout a {
    font-family: 'Cormorant Garamont', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.2em;
    color:rgb(0, 0, 0);
}
.navbar {
    height: var(--cs-nav-height);
    background-color: rgb(151, 112, 96);
    color: rgb(219, 214, 197); /* Navbar text color */
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    z-index: 1000;
}
.nav-link {
    color: rgb(219, 214, 197); /* Navbar link text color */
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1rem;
}
/* Active link styling */
.nav-link.active {
    font-weight: 800;
    color: rgb(219, 214, 197); /* #DBD6C5 */
}
/* Link color when hovered */
.nav-link:hover {
    color: rgb(46, 14, 1); /* #2e0e01 */
}
/* Link color when visited */
.nav-link:visited {
    color: rgb(61, 19, 2); /* #3d1302 */
}
.row {
    height: 50%;
}
/* Carousel styles */
.carousel {
    margin-top: 2em;
    width: 90%;  /* Set the desired width */
    height: 90%; /* Set the desired height */
    margin: auto; /* Center the carousel */
}
.carousel-inner {
    height: 0;
    padding-bottom: 25%;
    width: 100%;
    height: 100%;
}
.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: contain; /* Cover the entire area without stretching */
}
/* Custom CSS to change carousel dimensions */
#carouselExampleIndicators {
    width: 90%;  /* Set the desired width */
    height: auto; /* Adjust height to be proportional */
    margin: auto; /* Center the carousel */
}
#carouselExampleIndicators .carousel-inner {
    width: 100%;
    height: auto; 
}
#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height: auto; /* Make the image adjust proportionally */
    object-fit: contain; /* Cover the entire area without stretching */
}
/* Specific section styles */
#arch {
    background-color: rgb(133, 92, 117);
    border: 2px solid black;
}
#lit {
    background-color: rgb(115, 111, 76);
    border: 2px solid black;
}
#sculp {
    background-color: rgb(217, 175, 107);
    border: 2px solid black;
}
#paint {
    background-color: rgb(175, 100, 89);
    border: 2px solid black;
}
#fresco {
    background-color: rgb(82, 106, 132);
    border: 2px solid black;
}

/* homepage */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color:#E3DAD0;
    color: black;
}

h1{
    font-family: solid 'Inter', sans-serif;
    font-weight: 800;
    padding: 10px 10px;
    text-align: center;
    background-color:#E3DAD0;
    color: black;
}

.homepage-title {
    font-weight: 1800;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: solid 'Inter', sans-serif
}

nav {
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px 0;
}
nav a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}
nav a:hover {
        background: #555;
}
.container {
    padding: 20px;
}

/* separator*/
.sldcd-separator{
    background-color: #E3DAD0;
    margin-top: 800px;
    margin-bottom:800px;
}

/* slider homepage */
#hidslide{
    overflow-x: hidden;
}

.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-205px * 16));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img{
    width: 100%;
}

.slider img{
    height: 280px;
}

img:hover{
    transform: translateZ(20px);
    transition: transform 1s;
}

.slider::before,
.slider::after{
    background: linear-gradient(to right,rgb(227, 218, 208,1) 0%,
    rgba(214, 156, 105, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: -75px;
    padding-left: 0px;
    height: 500px;
}

.slider::after{
    right: -75px;
    padding-right: 0px;
    height: 500px;
    transform: rotateZ(180deg); 
}

/* icon */
.titleicon-container{
    align-items: center;
    width: auto;
    height: 300px;
    background-color: #E3DAD0;
}
.hp-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-title {
    font-weight: 1800;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: solid 'Inter', sans-serif;
}

.homepage-button{
    font-size: 2rem;
    border: none;
    padding: 15px 15px;
    outline: none;
    border-radius: 10px;
    background-color: #977060;
    color: floralwhite;

}
padding: 15px 15px;
margin-left: 50%;
margin-right: 50%;
width: 100px;
height: 100px;
.icontext{
    opacity: 0;
}

.homepage-button:hover {
    color: #555;
}

/* narratives preview cards */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin-top: -1500px;

}

.hpcard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 300px;
}
.hpcard{
    width: 325px;
    background-color: floralwhite;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px, 2px, 4px rgba(0,0,0,0.2);
    margin: 10px;
    padding: 9px;
    transition: transform 0.6s ease;
}
.hpcard:hover{
    transform: translateY(-30px);
}

.hpcard img{
    width: 100%;
    height: auto;
}
.hpcard-content{
    padding: 16px;
}
.hpcard-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}   
.hpcard-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
} 
.cdbtn{
    display: inline-block;
    padding: 5px 10px;
    width: 50%;
    text-align: center;
    background-color: #977060;
    color:floralwhite;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 10px;
}
a {
    color:#DBD6C5;
    text-decoration: none;; 
}
a:hover {
    color:black;
}



/* footer */
*{
    padding: 0;
    margin: 0;
}

footer{
    position: relative;
    bottom: 0;
    margin: 0;
    text-align: center;
    background-color: #977060;
    margin-top: 300px;
    margin-bottom: -40px;
}

.footer{
    background-color: #977060;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 13px sans-serif;
    padding: 30px 20px 30px 80px;
    bottom: -40px;
    margin-top: -100px;
}

.footer-left,
.footer-center,
.footer-right{
    display:inline-block;
    vertical-align: top;
}
@media (max-height:800px){
    footer{
        position: static;
        min-height: calc(100vh - main);

    }
}
.footer-left{
    width: 35%;
}
.footer h4{
    color: floralwhite;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font: 15px sans-serif;
}
.footer-left img{
    width: 25%;
    vertical-align: middle;
}
.footer-left .logoimg{
    width: 100;
}
.footer-copyright{
    color: #555;
    font-size: 14px;
    width: 18px;
    border-radius: normal;
    margin: 0;
    padding-top: 2%;
}
.footer-center{
    width: 30%;
    margin-left: 10px;
}

.footer-right{
    width: 30%;
}
.footer .footer-center .li a{
    display: block;
    color: floralwhite;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
#footer {
    height: var(--cs-foot-height);
}


/* about cards */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.aboutcard{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 10px;
}
.aboutcard:hover{
    transform: translateY(-30px);
}

.aboutcard-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-right: 10px;
    margin-bottom: 300px;
}

.aboutcard div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1.5s;
    border-radius: 20px;
    border-color: #977060;
}
.aboutcard .front{
    background-color: floralwhite;
    transform: perspective(500px)rotateY(0deg);
}
.aboutcard .back{
    background-color: #977060;
    transform: perspective(500px)rotateY(180deg);
}
.aboutcard:hover .front{
    background-color: floralwhite;
    transform: perspective(500px)rotateY(180deg);
}
.aboutcard:hover .back{
    background-color: #977060;
    transform: perspective(500px)rotateY(360deg);
}
.aboutcard div img{
    position: fixed;
    width: 310px;
    height: 320px;
    top: 1px;
}
.aboutcard div h3{
    position: fixed;
    width: 500px;
    height: 100px;
    bottom: -50px;
    text-align: center;
}
div .back p{
    text-align: center;
}


.story-map-iframe {
    width: 100%;
    height: 500px;
    border: 2px solid black;
}
/* Footer styling */
footer {
    background: #977060;
    color: #DBD6C5;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
}
/*infami monumenti page*/
.navbarIm {
    position: fixed;
    width: 100vw;
}
#imBody {
    overflow-x: hidden;
}
#imMain {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    height: var(--cs-main-height);
    position: relative;
}
#mainIMContainer {
    height: 100vh !important;
    margin: 0;
    padding: 0;
}
#imRow {
    height: 100vh !important;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#imgCol, #dataCol {
    position: fixed;
    height: 75%;
    top: 0;
}
#imgCol {
    left: 0;
    margin-top: 1em;
    margin-right: 2em;
    width: var(--img-column-w);
    margin-top: 6.5em;
    margin-left: 1em;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
figcaption {
    margin-top: 5px;
}
.wrapper {
    width: var(--info-column-w);
    margin-top: 5em;
    margin-left: var(--img-column-w);
    box-sizing: border-box;
    border: 1px solid black;
    padding-top: 0;
}
/*#infoCol {
    background-color: blue;
    overflow-y: auto;
    width: var(--info-column-w);
    height:100%;
    margin-left: 25vw;
    margin-top: 5em;
}*/
.wrapper p {
    text-align: center;
    padding: 0;
    margin: 0;
    /*try again with custom properties (check examples) -- For the disclaimer: same dimensions as the info col for the region with the text of the disclaimer*/
}
.buttonContainer {
    margin-top: auto;
    height: fit-content;
}
#dataCol {
    right: 0;
    margin-top: 1em;
    margin-left: 3em;
    width: var(--data-column-w);
    margin-top: 6.5em;
    margin-right: 1em;
}
#imTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.discTitle {
    margin-top: 0.5em;
    margin-bottom: 0;
}
.discLine {
    width: 50vw;
    margin-left: 25%;
    margin-right: 25%;
}
.discContainer p {
    margin-top: 1em;
    margin-left: 25%;
    margin-right: 25%;
}
.discLink {
    color: #977060;
}
.discLink:hover {
    color: black;
    font-weight: bold;
}
/*Style for documentation page*/
.doc-container {
    flex: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0;
    padding-top: 5em;
    position: relative; 
    z-index: 1; 
    min-height: calc(var(--navbar-height) - var(--footer-height));
}
.doc-title{
    margin-top: 0.5em;
    margin-bottom: 0;
}
.doc-line {
    width: var(--container-width);
    height: var(--container-height);
}
.doc-container p {
    font-weight: 300;
}
.doc-container a {
    color: #977060
}
.doc-container a:hover {
    color: black;
    font-weight: bold;
}
.doc-content{
    padding-top: 5em;
}
.sidebar-doc {
    position: fixed;
    padding: 1rem;
    overflow-y: auto;
    top: 0;
    align-self: flex-start;
    background-color: white; 
    color: rgb(​219, 214, 197); 
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 2;
    font-size: 1rem; 
    position: fixed; 
    top: var(--navbar-height);
    bottom: var(--footer-height);
    left: 0;
    width: 280px; 
    z-index: 0;
    min-height: 100%; 
    height: 100%; 
}
.side-link {
    color: rgb (​219, 214, 197); 
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 1.4;
    padding: 2em;
}
/* Active link styling */
.side-link.active {
    font-weight: 800;
    color: rgb(219, 214, 197); /* #DBD6C5 */
}
/* Link color when hovered */
.side-link:hover {
    color: rgb(46, 14, 1); /* #2e0e01 */
}
/* Link color when visited */
.side-link:visited {
    color: rgb(61, 19, 2); /* #3d1302 */
}
/* Responsive text styling for smaller screens */
@media (max-width: 768px) {
    .sidebar-doc {
        width: 100%; /* sidebar-doc takes full width */
        height: auto; /* Adjust height to content */
        position: relative; /* Position it relative */
        padding: 20px; 
    }

    .doc-container {
        margin-left: 0; 
        margin-right: 0; 
        padding: 20px; 
    }
}
/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .sidebar-doc {
        padding: 10px; /* Further adjust padding */
    }

    .doc-container {
        padding: 10px; /* Further adjust padding */
    }
}
/*Style for palette in documentation*/
.palette-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 150px auto auto auto;
    grid-gap: 10px;
    justify-content: center;
    padding: 0px;
}
.palette {
    background: #fff;
    overflow: hidden;
    position: relative;
    top: 0;
    padding: 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-flow: column;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.palette:hover {
    top: -5px;
    box-shadow: 20px rgba(128, 128, 128, 0.12);
}
.palette--main-color {
    grid-column: span 6;
}
.palette--secondary-color {
    grid-column: span 4;
}
.palette--grays {
    grid-column: span 2;
}
.palette-headers {
    grid-column: span 12;
}
.palette__info {
    color: #333;
    position: relative;
    flex: 0 0 auto;
    font-size: 14px;
    padding: 12px;
    font-family: 'hardingreg';
    font-weight: bold;
}
.palette__info__hexcode {
    margin-top: 3px;
    font-size: 12px;
    color: gray;
}
.palette__colors {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
}
.palette__color {
    background: var(--bg-color);
    height: 100%;
    flex: 1;
}
.font-white {
    color: #fff;
}
/* Story Map Container Page */
.story-map-container {
    margin: 0;
    padding: 0 0 5em 0;
    background-color: rgb(227, 218, 208);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.story-map-iframe {
    width: 100%;
    height: 500px;
    border: 2px solid black;
}
.storymap-container .vso-caption,
.storymap-container .vso-text {
    font-family: 'Inter', sans-serif !important;
}
.storymap-container .vso-title {
    font-family: 'Cormorant Garamond', serif !important;
}