/* Parallax effect */
.parallax {
    background-image: url('images/Penises-in-Medieval-Marginalia.jpg'); /* Replace with your image path */
    opacity: 0.4;
    height: 100%;
    min-height: 900px; /* Set the desired height */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Ensure it stays behind the content */
}

main {
    margin-left: 280px; /* Adjust based on the sidebar width */
    padding-top: 56px; /* Adjust for the navbar height */
    position: relative; /* Ensure main content stays on top of the parallax image */
    z-index: 1; /* Ensure main content is above the parallax image */
}

.content-section {
    padding: 0;
    background-color: rgb(227, 218, 208); /* #E3DAD0 */
    margin: 20px 15px; /* Adjust margins for better spacing */
    border-radius: 5px;
    line-height: 1.4; /* Adjusted line-height for content sections */
    text-align: justify;
    z-index: 1; /* Ensure content stays on top of the parallax image */
    position: relative; /* Ensure content stays on top of the parallax image */
}

 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
} 