html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
}

.story-map-container {
    margin: 0.5em;
    background-color: rgb(227, 218, 208);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    overflow-y: hidden;
}

.custom-btn-storymap {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    background-color: #736f4c;
    color: white;
    text-decoration: none;
}

.custom-btn-storymap:hover {
    background-color: #5e5b3a;
}

#map {
    width: 100%;
    height: 80vh;
    min-height: 400px;
}

.mapboxgl-popup-content {
    background-color: rgb(227, 218, 208) !important;
    color: #333 !important;
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    border-radius: 8px;
    max-height: 66vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.popup-content {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

.popup-content img {
    max-width: 100%;
    height: 80px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
    border-radius: 6px;
}

.mapboxgl-popup-content h4 {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    color: black !important;
}

.popup-content p {
    margin: 8px 0;
}

.mapboxgl-popup-close-button {
    display: none !important;
}

.popup-content::-webkit-scrollbar {
    width: 6px;
}

.popup-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.popup-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}