html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
}

.story-map-container {
    margin: 0.5em;
    background-color: rgb(227, 218, 208);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);    
    overflow-y: hidden;
}

.custom-btn-storymap {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    background-color:rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.custom-btn-storymap:hover {
    background-color: rgb(151, 112, 96);
}

#map {
    width: 100%;
    height: 80vh;
    min-height: 400px;
}

.mapboxgl-popup-content {
    background-color: rgb(227, 218, 208) !important;
    color: rgb(51, 51, 51) !important;
    font-size: 14px;
    line-height: 1.2;
    padding: 8px;
    border-radius: 8px;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.popup-content {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

.popup-content img {
    max-width: 100%;
    height: 80px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
    border-radius: 6px;
}

.mapboxgl-popup-content h4 {
    font-size: 23px;
    font-family: 'Judson', serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(61, 19, 2) !important;
}

.popup-content p {
    margin: 8px 0;
    font-family: 'Inter', sans-serif;
    font-size: small;
    color: rgb(61, 19, 2);
}

.mapboxgl-popup-close-button {
    display: none !important;
}

.popup-content::-webkit-scrollbar {
    width: 6px;
}

.popup-content::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border-radius: 4px;
}

.popup-content::-webkit-scrollbar-thumb:hover {
    background-color: rgb(85, 85, 85);
}